# App artifacts
**/db
**/deps
**/*.ez
**/.DS_Store
**/yarn-error.log
**/*.map

# Generated on crash by the VM
**/erl_crash.dump

# Generated on crash by NPM
**/npm-debug.log

# Static artifacts
**/node_modules
