@import '../../styles/superhero_variables';

.RulesPageNav {
  border-bottom: 1px solid $cyan;
  margin: 0px;
  padding-top: 0.4em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  
  position: sticky;
  position: -webkit-sticky;
  top: 44px;
  background-color: $body-bg;
  z-index: 1000;
}

.RulesPageNav__search::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}